venv
.venv
node_modules
frontend/node_modules
train_pdf
.git
.gitignore
*.exe
*.o
route_engine

# Scraper (not used in deployment)
backend/src/scripts/
backend/requirements.txt
backend/tests/
backend/venv/
